* {
  /* dark themes colors */
  --dark-primary-color: #ff7800;
  --dark-secondary-color: #ffa726;
  --dark-text-color: #f7f7f7;
  --dark-background-color: #082032;
  --dark-box-shadow-color: #12324a;
  /* light themes colors  */
  --light-primary-color: #ff7800;
  --light-text-color: #082032;
  --light-background-color: #f7f7f7;
  --light-box-shadow-color: ;
}
