.main-table {
  padding: 3rem;

  overflow: hidden;
}
.main-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}
.main-table-thead {
  background-color: var(--dark-primary-color);
}
.main-table-thead th {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

.main-table-tbody td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}
.up-arrow {
  color: green;
  font-size: 19px;
  font-weight: 900;
}
.down-arrow {
  color: red;
  font-size: 19px;
  font-weight: 900;
}
@media screen and (max-width: 1000px) {
  .main-table-thead th,
  .main-table-tbody td {
    font-size: 12px;
    padding: 0.7rem;
  }
}
@media screen and (max-width: 767px) {
  .non-mobile {
    display: none;
  }
  .main-table-thead th {
    padding: 0.5rem;
  }
  .main-table-tbody {
    font-size: 12px;
    font-weight: 300;
  }
}
