.dropdown-content {
  position: absolute;
  flex-direction: column;
  padding: 10px 20px;
  width: max-content;
  display: flex;
  align-items: center;
  border: 5px solid;
  margin: 10px;
}
.dropbtn {
  background: var(--dark-primary-color);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.dropdown-item {
  list-style: none;
  margin-bottom: 5px;

}
.dropdown-item:hover {
  background: var(--dark-primary-color);
  color: white;
}
