.dropdown-content {
  position: absolute;
  flex-direction: column;
  padding: 10px 20px;
  width: max-content;
  display: flex;
  align-items: center;
  background-color: var(--dark-primary-color);
  width: 100px;
  border-radius: 15px;
}
.dropbtn {
  background: var(--dark-primary-color);
  font-weight: 600;
  width: 140px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}
.dropbtn > * {
  letter-spacing: 1.2px;
}
.dropbtn:hover {
  transform: scale(1.06);
}
.dropdown-item {
  cursor: pointer;
  list-style: none;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.dropdown-item:hover {
  transform: scale(1.2);
}
