.hero-section {
  width: 95vw;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-trending-section {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}
