.dropdown-content {
  position: absolute;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-primary-color);
  border-radius: 15px;
}
.dropbtn {
  background: var(--dark-primary-color);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}
.dropbtn > * {
  letter-spacing: 1.2px;
}
.dropbtn:hover {
  transform: scale(1.06);
}
.dropdown-item {
  cursor: pointer;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.dropdown-item:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 767px) {
  .dropdown-content {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
  .dropbtn {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
}
