.dropdown-content {
  position: absolute;
  flex-direction: column;
  padding: 0.5rem 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  background-color: var(--dark-primary-color);
  border-radius: 15px;
}
.dropbtn {
  background: var(--dark-primary-color);
  font-weight: 600;
  border: 5px solid;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 5%;
  border-radius: 15px;
}
.dropbtn > * {
  letter-spacing: 1.2px;
}
.dropbtn:hover {
  transform: scale(1.06);
}
.dropdown-item {
  cursor: pointer;
  list-style: none;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.dropdown-item:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 767px) {
}
