.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  max-width: 100%;

  align-items: center;
  padding-inline: 3rem;
  box-shadow: 1px 0px 7px rgb(41, 40, 40);
  position: relative;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  border: double 2px;
  padding: 0.7rem;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
}
.logo:hover {
  background-color: var(--dark-primary-color);
  transform: scale(1.1);
}
.isDarkTheme {
  cursor: pointer;
}
.isDarkTheme:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 15px;
    padding-inline: 0.5rem;
  }
  .navbar {
    padding: 1rem;
  }
}
